<div class="mx-auto max-w-screen-lg flex flex-col mt-32 w-5/6 lg:w-full">
    <h1 class="text-6xl font-calgary mb-4">Projects</h1>
    <p class="text-2xl max-w-2xl">Some things I've created.</p>
    <div class="container mx-auto mt-16">
        {{ collection:projects as="projects" }}
            {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Darn, the projects have not materialised yet, check back soon!</h2>
            {{ /if }}

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {{ projects }}
                    <div class="group shadow rounded-2xl transition-all duration-300 hover:shadow-xl active:shadow-none relative overflow-hidden">
                        <img src="{{ thumbnail }}" alt="{{ title }}">
                        <div class="p-4 flex flex-col">
                            <p class="mb-4">
                        <a href="{{ url }}" class="text-2xl font-bold">
                            {{ title | widont }}
                        </a>
                    </p>
                            <p class="mb-4">
                                {{ description | widont : content | strip_tags | safe_truncate:60:...}}
                            </p>
                            <a href="{{ url }}" class="link">Check it out</a>
                    </div>
                </div>
                {{ /projects }}
            </div>
        {{ /collection:projects }}
    </div>
</div>
