<article class="py-32 max-w-2xl mx-auto content w-5/6 lg:w-full">
    <h1 class="text-5xl font-calgary mb-4">{{ title }}</h1>
    <h2 class="text-2xl mb-16">{{ description }}</h2>
    <p class="mb-4">
        <a href="{{ project_link }}" target="_blank" class="link text-2xl" title="{{ project_link }}">Visit this project</a>
    </p>
    <p class="text-2xl"><span class="font-bold mt-4">Technologies used:</span>
        {{ foreach:technologies_used }}
            {{ value }} {{ unless last}},{{ /unless }}
        {{ /foreach:technologies_used }}
    </p>
    <div class="article-content">
        {{ screenshots }}
            <img src="{{ url }}" alt="{{ alt }}" class="w-full h-auto mb-16 shadow-2xl" />
        {{ /screenshots }}
    </div>
</article>
